@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;600&family=Source+Serif+Pro:ital,wght@0,300;1,300&display=swap');


body {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    background: #88AE88;
    color:#303030;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 1.5rem 1.5rem 1rem 1.5rem;
    color:#404040;
}

h1 span{
    font-weight: 700;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}

h2 span{
    font-weight:400;
}

h3{
    color:#fff;
    font-style: italic;
    letter-spacing: 0.025rem;
    font-size:1.25rem;
    padding-right:1rem;
    padding-top:2rem;
}

h3 span{
    border-bottom:1px solid #fff;
}

h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    color: RGBA(223, 219, 208, 1.00);
}

h6 span {
    font-weight: 300;
}

/* la siguiente clase se quita (removeClass) o agrega (addClass) con jQuery */
.esconder {
    display: none;
}

dl dt, dl dd{display:inline; }

dl dt{padding-right:0.5rem; margin-right:0.5rem;}

dl:nth-child(1) dt{background:#7DA57E;}

dl:nth-child(2) dt{border-bottom:1px dashed #5E725F;}

dl:nth-child(3) dt{border-bottom:1px solid #404040;}

figure#distancias svg{
    font-family: 'Source Serif Pro', serif;
    font-size:25px;
}

figure#distancias svg circle.intimate{
    stroke:none;
    fill:#7FA579;
}


figure#distancias svg circle.personal{
    stroke:#5E725F;
    stroke-dasharray:5; 
    fill:none;
}

figure#distancias svg circle.social{
    stroke:#404040;
    fill:none;
}

figure#distancias svg circle.guideline{
    stroke:white;
    fill:none;
}

figure#distancias svg text.pais{
    font-size:30px;
}

figure#distancias svg text.cm{
    fill:white;
}

footer{
    margin-top:100px;
    border-top:1px solid #7FA579;
    background:#2D7787 url(img/bg-footer.png) top center repeat-x;
    background-size:auto 250px;
    min-height:300px ;
}

.camino{
    position: relative;
    overflow: hidden;
    height:150px;
}

@keyframes pasando-por-el-camino {
  from {left:-5vw; top:0;}
  to {left:105vw; top:0;}
}

.camino img{
    height:100px;
    width:auto; 
    position: absolute;
    animation-name: pasando-por-el-camino;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media (max-width: 768px) { 
    .camino img{
        height:80px;
        width:auto;
    }
}

.canal{
    position: relative;
    overflow: hidden;
    height:150px;    
}